<nav>
  <ul>
    <li>
      {{{Ref ref_name='Login' type='button' onClick=this.login.onClick}}}
    </li>
    <li>
      {{{Ref ref_name='Signup' type='button' onClick=this.signup.onClick}}}
    </li>
    <li>
      {{{Ref ref_name='Chat' type='button' onClick=this.chat.onClick}}}
    </li>
    <li>
      {{{Ref ref_name='Profile' type='button' onClick=this.profile.onClick}}}
    </li>
    <li>
      {{{Ref ref_name='Settings' type='button' onClick=this.settings.onClick}}}
    </li>
    <li>
      {{{Ref
        ref_name='ChangePassword'
        type='button'
        onClick=this.changePass.onClick
      }}}
    </li>
    <li>
      {{{Ref ref_name='Page404' type='button' onClick=this.page404.onClick}}}
    </li>
    <li>
      {{{Ref ref_name='Page500' type='button' onClick=this.page500.onClick}}}
    </li>
  </ul>
</nav>
