<div class='popup hidden {{class}}'>
{{#if addChat}}<div class='add addChat'>{{addChat}}</div>{{/if}}
{{#if deleteChat}}<div class='delete deleteChat'>{{deleteChat}}</div>{{/if}}
{{#if addUser}}<div class='add addUser'>{{addUser}}</div>{{/if}}
{{#if deleteUser}}<div class='delete deleteUser'>{{deleteUser}}</div>{{/if}}
{{#if setAvatar}}<div class='add setAvatar'>{{setAvatar}}</div>{{/if}}
</div>
