<aside class='navigation'>
  <div class='wrapper-ref'>
  {{{button}}}
  {{{popupChat}}}
  {{{ref}}}
  </div>
  {{{modal}}}
  <input class='search' placeholder='Поиск' />
  <div class='dialogs'>
    {{#each chats}}
      {{{this}}}
    {{/each}}

  </div>
</aside>
